.contact {
  background-image: url('../images/UserGlass_Contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-bottom: 70px;

  .block-box {
    margin-top: $margin;
    font-size: $small;

    @include breakpoint($tab){
      font-size: $t1;
    }
  }

  .label {
    display: inline-block;
    width: 80px;
    margin-right: 10px;
    @include breakpoint($tab){
      width: 100px;
      margin-right: 20px;
    }
  }

  .mail a {
    @extend %bluelabel;
    padding: 0 10px;
    display: inline-block;

    @include breakpoint($tab) {
      padding: 0 15px;
    }
  }

  .box-label {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: $small;

    @include breakpoint($tab){
      font-size: $t1;
    }

  }

  .visit a {
    text-decoration: underline;
  }

  p + p,
  .address + .address {
    margin-top: $margin;
  }

  .socialicon {
    text-indent: -9999px;
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url('../images/png/sprites3.0.png') 0 -64px / auto 314px no-repeat;
    margin: 0 5px 5px 0;

    @include breakpoint($tab) {
      height: 46px;
      width: 46px;
      margin: 0 $margin $margin 0;
      background-size: auto;
      background-position: 0 -88px;

    }

  }

  .twitter {
    background-position: -37px -64px;
      @include breakpoint($tab) {
       background-position: -50px -88px;
      }
  }

  .linkedin {
    background-position: -72px -64px;

    @include breakpoint($tab) {
      background-position: -100px -88px;
    }

  }

  .google {
    background-position: -109px -64px;

    @include breakpoint($tab) {
      background-position: -150px -88px;
    }

  }

  .youtube {
    background-position: -145px -64px;
    margin-right: 0;

    @include breakpoint($tab) {
      background-position: -200px -88px;
    }

  }

}

#SnapABug_bImg {
  @extend %element-hidden;
}
